
# Database
DB_PROVIDER=local # local or neon
LOCAL_DATABASE_URL=postgres://app:app@localhost:5433/appdb
NEON_DATABASE_URL=

#App
NODE_ENV=development # production or development
SESSION_SECRET=long and random string
DOMAIN=example.com

# Admin credentials
ADMIN_FIRST_NAME=Max
ADMIN_LAST_NAME=Mustermann
ADMIN_EMAIL=max@mustermann.com
ADMIN_PASSWORD=password

# Mailgun Credentials
MAILGUN_SMTP_USER=
MAIL_FROM=postmaster@example.com
MAILGUN_SMTP_PASSWORD=

# Set to "true" to seed fake estates, users, guests, etc.
SEED_MOCK_DATA=false

# Storage (MinIO for dev, S3/R2/etc for prod)
STORAGE_ENDPOINT=http://localhost:9000   # remove this in production for AWS S3
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_BUCKET=hunt-hub
STORAGE_REGION=eu-west-1

