
# Database
DB_PROVIDER=local # local or neon
LOCAL_DATABASE_URL=postgres://app:app@localhost:5433/appdb
NEON_DATABASE_URL=

#App
NODE_ENV=development # production or development
SESSION_SECRET=long and random string
DOMAIN=example.com

# Admin credentials
ADMIN_FIRST_NAME=Max
ADMIN_LAST_NAME=Mustermann
ADMIN_EMAIL=max@mustermann.com
ADMIN_PASSWORD=password

# Mailgun Credentials
MAILGUN_SMTP_USER=
MAIL_FROM=postmaster@example.com
MAILGUN_SMTP_PASSWORD=

# Set to "true" to seed fake estates, users, guests, etc.
SEED_MOCK_DATA=false
