
# Database
DB_PROVIDER=local # local or neon
LOCAL_DATABASE_URL=postgres://app:app@localhost:5433/appdb
NEON_DATABASE_URL=

#App
NODE_ENV=development # production or development
SESSION_SECRET=long and random string
DOMAIN=example.com

# Admin credentials
ADMIN_FIRST_NAME=Max
ADMIN_LAST_NAME=Mustermann
ADMIN_EMAIL=max@mustermann.com
ADMIN_PASSWORD=password

# Mailgun Credentials
MAILGUN_SMTP_HOST=
MAILGUN_SMTP_USER=
MAIL_FROM=postmaster@example.com
MAILGUN_SMTP_PASSWORD=

# Set to "true" to seed fake estates, users, guests, etc.
SEED_MOCK_DATA=true

# Storage
STORAGE_PROVIDER=minio # minio' | 'r2

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=hunt-hub
MINIO_REGION=eu-west-1

R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET=hunt-hub
R2_REGION=auto